<header class="w-full flex justify-center p-4">
    <div class="w-[80ch] flex items-center justify-between">
        <a href="/" class="leading-tight">
            <h1 class="font-600">Torben Haack</h1>
            <h2>trbn.dev</h2>
        </a>
        <div class="text-xl flex items-center gap-4">
            <a href="https://github.com/trbndev">
                <div class="i-simple-icons-github hover:text-blue-6"></div>
            </a>
            <a href="https://git.ta-netzwerk.de/torben">
                <div class="i-simple-icons-git hover:text-orange-600"></div>
            </a>
            <a href="mailto:torben@localhost.8shield.net">
                <div class="i-simple-icons-protonmail hover:text-violet-6">
                </div>
            </a>
            <a href="https://linkedin.com/in/torben-haack">
                <div class="i-simple-icons-linkedin hover:text-blue-7"></div>
            </a>
            <a href="https://mastodon.social/@trbndev">
                <div class="i-simple-icons-mastodon hover:text-indigo-4"></div>
            </a>
            <a href="/rss.xml">
                <div class="i-simple-icons-rss hover:text-orange-600"></div>
            </a>
        </div>
    </div>
</header>
