---
import Header from "@/components/header.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Torben Haack - trbn.dev</title>
    </head>
    <body class="w-[100dvw] min-h-[100dvh] flex flex-col items-center gap-8">
        <Header />
        <main class="w-[80ch] flex flex-col gap-8">
            <slot />
        </main>
    </body>
</html>
